RISE
ipywidgets~=7.0.0b1
jupyter_contrib_nbextensions
jupyter-wysiwyg

#Working with geodata
pandas
geopandas

#R
rpy2

#Base maps
matplotlib
git+https://github.com/matplotlib/basemap.git
Pillow

numpy
scipy
pyproj
geos
shapely
owslib
pyshp
pytz
netCDF4
cartopy

bqplot

#Interactive map packages
folium
ipyleaflet

#Satellite maps
#git+https://github.com/sat-utils/sat-download.git

#projections
git+https://github.com/LokiTechnologies/EqualAreaCartogram.git


#3d - nb https://github.com/sinhrks/cesiumpy/issues/72
cesiumpy


#Magic
git+https://github.com/psychemedia/ipython_magic_folium.git


#google maps api - key required?
#gmaps

#mapbox api / key required
#mapboxgl
#git+https://github.com/chelm/jupyter-map-gl.git

#to try:
#https://github.com/g07kore/google_earth_engine_python_examples

#git+https://github.com/OpenGeoscience/geonotebook
