#Notebook widgets
ipywidgets

#Common extensions
jupyter_contrib_nbextensions

#WYSIWYG editor
jupyter-wysiwyg

# Slideshow
RISE

#Notebook zip downloader
nbzip

# Generic Packages
scipy
matplotlib
sympy
graphviz

git+https://github.com/psychemedia/showntell.git@magic_asymptote
git+https://github.com/psychemedia/showntell.git@magic_tikz
